# 自动生成的镜像配置 (by setup-mirror.mjs)
# 生成时间: 2026-03-24T03:50:58.474Z

# npm registry
registry=https://mirrors.huaweicloud.com/repository/npm/

# sharp 二进制镜像
sharp_binary_host=https://registry.npmmirror.com/-/binary/sharp
sharp_libvips_binary_host=https://registry.npmmirror.com/-/binary/sharp-libvips

# better-sqlite3 二进制镜像
better_sqlite3_binary_host=https://registry.npmmirror.com/-/binary/better-sqlite3

# puppeteer chromium 镜像
puppeteer_download_host=https://registry.npmmirror.com/-/binary/chromium-browser-snapshots
